In [2]:
import pandas as pd
import numpy as mp
import matplotlib.pyplot as plt
from sklearn import model_selection 
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LinearRegression
import seaborn as sns

In [4]:
url="Loan-applicant-details.csv"
labels = ['ID','Gender','Married','Dependents','Education','Self_Employed','Applicant_Income','Co_applicant_Income','Loan_Amount','Loan_Amount_Term','Credit_History','Property_Area','Loan_Status']
data= pd.read_csv(url, names=labels)

In [5]:
data.head()

,ID,Gender,Married,Dependents,Education,Self_Employed,Applicant_Income,Co_applicant_Income,Loan_Amount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128,360,1,Rural,N
1,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66,360,1,Urban,Y
2,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120,360,1,Urban,Y
3,LP001008,Male,No,0,Graduate,No,6000,0.0,141,360,1,Urban,Y
4,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267,360,1,Urban,Y

In [6]:
data.describe()

,Applicant_Income,Co_applicant_Income,Loan_Amount,Loan_Amount_Term,Credit_History
count,480.000000,480.000000,480.000000,480.000000,480.000000
mean,5364.231250,1581.093583,144.735417,342.050000,0.854167
std,5668.251251,2617.692267,80.508164,65.212401,0.353307
min,150.000000,0.000000,9.000000,36.000000,0.000000
25%,2898.750000,0.000000,100.000000,360.000000,1.000000
50%,3859.000000,1084.500000,128.000000,360.000000,1.000000
75%,5852.500000,2253.250000,170.000000,360.000000,1.000000
max,81000.000000,33837.000000,600.000000,480.000000,1.000000

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 480 entries, 0 to 479
Data columns (total 13 columns):
ID                     480 non-null object
Gender                 480 non-null object
Married                480 non-null object
Dependents             480 non-null object
Education              480 non-null object
Self_Employed          480 non-null object
Applicant_Income       480 non-null int64
Co_applicant_Income    480 non-null float64
Loan_Amount            480 non-null int64
Loan_Amount_Term       480 non-null int64
Credit_History         480 non-null int64
Property_Area          480 non-null object
Loan_Status            480 non-null object
dtypes: float64(1), int64(4), object(8)
memory usage: 48.8+ KB

In [9]:
data.shape

(480, 13)

In [10]:
data.corr()

,Applicant_Income,Co_applicant_Income,Loan_Amount,Loan_Amount_Term,Credit_History
Applicant_Income,1.000000,-0.112588,0.495310,-0.010838,-0.056152
Co_applicant_Income,-0.112588,1.000000,0.190740,-0.005775,-0.008692
Loan_Amount,0.495310,0.190740,1.000000,0.050867,-0.040773
Loan_Amount_Term,-0.010838,-0.005775,0.050867,1.000000,0.032937
Credit_History,-0.056152,-0.008692,-0.040773,0.032937,1.000000

In [11]:
data.isnull().sum().sum()

0

In [12]:
from sklearn.preprocessing import LabelEncoder
var_mod = ['Gender','Married','Dependents','Education','Self_Employed','Property_Area','Loan_Status']
le = LabelEncoder()
for i in var_mod:
    dataset[i] = le.fit_transform(dataset[i])

In [13]:
#DecisionTreeClassifier
from sklearn.tree import DecisionTreeClassifier

array = dataset.values
X = array[:,6:11]
Y = array[:,12]
X=X.astype("int")
Y=Y.astype("int")
x_train, x_test, y_train, y_test = model_selection.train_test_split(X, Y, test_size=0.2, random_state=2)

clf = DecisionTreeClassifier().fit(x_train, y_train)
print('Accuracy of Decision Tree classifier on training set: {:.2f}'
     .format(clf.score(x_train, y_train)))
print('Accuracy of Decision Tree classifier on test set: {:.2f}'
     .format(clf.score(x_test, y_test)))

Accuracy of Decision Tree classifier on training set: 1.00
Accuracy of Decision Tree classifier on test set: 0.72

In [14]:
#LogisticRegression
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(x_train,y_train)
predictions = model.predict(x_test)
print(accuracy_score(y_test, predictions))

0.78125

In [16]:
#RandomeForest
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=25, n_jobs=2, random_state=0)
clf.fit(x_train,y_train)
y_pred = clf.predict(x_test)
clf.score(x_test,y_test)

0.8020833333333334