In [3]:
import numpy
import pandas as pnd
from sklearn.preprocessing import LabelEncoder
data=pnd.read_csv("500_Person_Gender_Height_Weight_Index.csv")

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 4 columns):
Gender    500 non-null object
Height    500 non-null int64
Weight    500 non-null int64
Index     500 non-null int64
dtypes: int64(3), object(1)
memory usage: 15.7+ KB

In [5]:
data.head()

   Gender  Height  Weight  Index
0    Male     174      96      4
1    Male     189      87      2
2  Female     185     110      4
3  Female     195     104      3
4    Male     149      61      3

In [6]:
data.shape

(500, 4)

In [7]:
data.tail()

     Gender  Height  Weight  Index
495  Female     150     153      5
496  Female     184     121      4
497  Female     141     136      5
498    Male     150      95      5
499    Male     173     131      5

In [8]:
data.corr()

          Height    Weight     Index
Height  1.000000  0.000446 -0.422223
Weight  0.000446  1.000000  0.804569
Index  -0.422223  0.804569  1.000000

In [9]:
data.isnull().sum()

Gender    0
Height    0
Weight    0
Index     0
dtype: int64

In [10]:
x=data.iloc[:,1:3].values  #extracting data from data set i.e height and weight
y=data.iloc[:,0].values #extracting labels i.e male and female

In [11]:
LE=LabelEncoder()
y=LE.fit_transform(y)

In [12]:
from sklearn.tree import DecisionTreeClassifier
clf=DecisionTreeClassifier()
clf.fit(x,y)
print(clf.predict([[122,70]]))  #0-female and 1-male

[0]

In [13]:
print(clf.score(x,y))

0.974